<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://server.w-bit.ru:3306/demo</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <property name="connection.username">demo</property>
        <property name="connection.password">q1w2e3r45</property>
        <property name="show_sql">true</property>

        <property name="id.new_generator_mappings">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.autocommit">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <!-- Configuring Connection Pool -->
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">500</property>
        <property name="c3p0.max_statements">50</property>
        <property name="c3p0.idle_test_period">2000</property>


        <mapping class="main.models.entity.EntOrderProduct"/>
        <mapping class="main.models.entity.EntOrder"/>
        <mapping class="main.models.entity.EntProduct"/>
        <mapping class="main.models.entity.EntUserRoles"/>
        <mapping class="main.models.entity.EntUser"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>