<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--<bean id="dataSource"-->
    <!--class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->

    <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
    <!--<property name="url" value="jdbc:mysql://sleitor.stc5.ru/demo"/>-->
    <!--<property name="username" value="demo"/>-->
    <!--<property name="password" value="q1w2e3r45"/>-->
    <!--</bean>-->

    <!-- BoneCP configuration -->
    <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://sleitor.stc5.ru/demo"/>
        <property name="username" value="demo"/>
        <property name="password" value="q1w2e3r45"/>
        <!--<property name="idleConnectionTestPeriod" value="60"/>-->
        <!--<property name="idleMaxAge" value="240"/>-->
        <property name="maxConnectionsPerPartition" value="30"/>
        <property name="minConnectionsPerPartition" value="10"/>
        <property name="partitionCount" value="3"/>
        <!--<property name="acquireIncrement" value="5"/>-->
        <!--<property name="statementsCacheSize" value="100"/>-->
        <!--<property name="releaseHelperThreads" value="3"/>-->
    </bean>


</beans>